.cont{
    position: relative;
}
.main .form-tittle{
    text-align: center;
    font-weight: 700;
    margin-bottom: 2rem;
}
.main .form-create{
    margin: auto;
    width: 70%;
}
.main .cont-btn{
    display: flex;
    justify-content: center;
}
.main .cont-btn .submit{
    margin: auto;
    padding: 0.6rem 1rem;
    color: var(--font-light);
    background-color: var(--background-primary);
    border-radius: 10px;
    border: none;
    font-weight: 500;
    box-shadow: 1px 1px 5px var(--opacity);
}
.main .form-control:focus {
    box-shadow: none;
    border: var(--bs-border-width) solid var(--bs-border-color);
}
.main .cont-btn .submit:active{
    opacity: 0.5;
}
.button{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background-primary);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}