.cont-footer{
    color: var(--font-light);
    padding: 3rem 0;
}
.cont-footer .icon{
    cursor: pointer;
}
.cont-footer .icon:hover{
    transform: scale(1.1);
    transition: all 0.5s; 
    filter: drop-shadow(0 0 10px var(--opacity));
}