.main .cont{
    width: 80%;
    position: relative;
}
.main .cont .info-tittle{
    text-align: center;
    margin: 0 2rem;
    margin-bottom: 2rem;
}
.main .cont .info-text h3, .main .cont .info-text h4{
    margin-bottom: 1rem;
}
.main .cont .info-img img{
    width: 100%;
    height: auto;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 1px 1px 1rem var(--opacity);
}
.main .cont .back{
    width: 2.5rem;
    height: 2.5rem;
    color: var(--font-light);
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background-primary);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .cont .back:active{
    color: var(--background-primary);
    background-color: var(--font-light);
}