:root{
  --background-primary: #231942;
  --font-primary: #5E548E;
  --background-secundary: #9F86C0;
  --font-secundary: #BE95C4;
  --font-light: #E0B1CB;
  --font-opacity: #505050;
  --opacity: #000000c0;
  --opacity-border: #a0a0a0;
}

.App{
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App .body{
  flex: 1;
  margin-bottom: 2rem;
}
.App .footer{
  background-color: var(--background-primary);
  width: 100%;
  padding: 0 0 0.5rem 0; 
  text-align: center;
  margin: auto 0 0 0;
  color: var(--font-light);
  font-weight: 700;
}